<%-include('../partials/admin-header.ejs')-%>

<section class="content-main">
  <!-- existing code here -->


  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Products List.</h2>
      <p>View Products, Edit and Delete</p>
    </div>
    <div>
      <a href="/admin/add-products" class="btn btn-primary btn-sm rounded"
        >Add</a
      >
    </div>
  </div>
  <div class="card mb-4">
    
    <div class="card-body">
      <table id="myTable" class="table table-hover display">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-end">Action</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(product => { %>
            <tr>
              <td>
                <div class="left">
                  <img
                    src="<%= product.productImage[0] %>"
                    class="img-sm"
                    alt="product Image"
                  />
                </div>
              </td>
              <td>
                <div class="info">
                  <h6 class="mb-0"><%= product.productName %></h6>
                </div>
              </td>
              <td>
                <span><%= product.productDescription.slice(0,50) %>...</span>
              </td>
              <td>
                <div class="col-price">
                  <span>&#x20B9;<%= product.productPrice %></span>
                </div>
              </td>
              <% if (product.productStatus === 'Listed') { %>
                <td>
                  <div class="col-status">
                    <span class="badge rounded-pill alert-success"><%= product.productStatus %></span>
                  </div>
                </td>
              <% } else { %>
                <td>
                  <div class="col-status">
                    <span class="badge rounded-pill alert-danger"><%= product.productStatus %></span>
                  </div>
                </td>
              <% } %>
              <td>
                <div class="col-dropdown text-end">
                  <a href="/admin/edit-product/<%= product._id %>" class="btn btn-md rounded font-sm">Edit</a>
                  <% if (product.productStatus === 'Listed') { %>
                    <a href="" class="btn btn-danger font-sm" onclick="unlistProduct('<%= product._id %>');event.preventDefault();">Unlist</a>
                  <% } %>
                </div>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

  <!-- card end// -->
  <div class="pagination-area mt-30 mb-50" id="pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
        <% if (currentPage > 1) { %>
            <li class="page-item"><a class="page-link" href="?page=<%=currentPage-1%>"><i class="material-icons md-chevron_left"></i></a></li>
            <% } %>
            <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <% if (i === currentPage) { %>active<% } %>"><a class="page-link" href="?page=<%=i%>"><%=i%></a></li>
            <% } %>
            <% if (currentPage < totalPages) { %>
            <li class="page-item"><a class="page-link" href="?page=<%=currentPage+1%>"><i class="material-icons md-chevron_right"></i></a></li>
            <% } %>
      </ul>
    </nav>
  </div>


  <!-- add pagination div -->
  
</section>
<%-include('../partials/admin-footer.ejs')-%>


<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>
