<!-- Data Table -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
<script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Data Table -->
<%-include('../partials/admin-header.ejs')-%>

<main>
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Users List.</h2>
        <p>User Management.</p>
      </div>
      <!-- <div>
        <input
          type="text"
          placeholder="Search order ID"
          class="form-control bg-white"
        />
      </div> -->
    </div>
    <div class="card mb-4">
      <!-- <header class="card-header">
        <div class="row gx-3">
          <div class="col-lg-4 col-md-6 me-auto">
            <input type="text" placeholder="Search..." class="form-control" />
          </div>
          <div class="col-lg-2 col-6 col-md-3">
            <select
              class="form-select"
              name="status"
              onchange="handleChange(event)"
            >
              <option value="status">Status</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
          </div>
          <div class="col-lg-2 col-6 col-md-3">
            <select class="form-select">
              <option>Show 20</option>
              <option>Show 30</option>
              <option>Show 40</option>
            </select>
          </div>
        </div>
      </header> -->
      <!-- card-header end// -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" id="productsTable">
            <thead>
              <tr>
                <th>No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user, index) { %>
              <tr>
                <!-- <td><%= user._id %></td> -->

                <td><%= index+1 %></td>

                <td><b><%= user.name %></b></td>
                <td><%= user.email %></td>
                <%#--
                <td>
                  <template class="__cf_email__" data-cfemail="..."></template>
                </td>
                --%>
                <td><%= user.mobile %></td>
                <% if (user.status) { %>
                <td>
                  <span class="badge rounded-pill alert-success">Active</span>
                </td>
                <td class="text-end">
                  <a
                    
<<<<<<< HEAD
                    class="btn btn-md rounded font-sm block-btn"
                    onclick="BlockUser('<%= user._id %>'); event.preventDefault();"  
=======
                    class="btn btn-md rounded font-sm block-btn" 
                    onclick="BlockUser('<%= user._id %>'); event.preventDefault();" 
>>>>>>> 0b7da8e43902f1241da174055d35b7e32691b06d
                    id="btn-block">Block</a
                  >
                
                </td>
                <% } else { %>
                <td>
                  <span class="badge rounded-pill alert-danger"
                    >Not Active</span
                  >
                </td>
                <td class="text-end">
                  <a
<<<<<<< HEAD
                    
=======
>>>>>>> 0b7da8e43902f1241da174055d35b7e32691b06d
                    class="btn btn-md rounded font-sm" id="btn-unblock"
                    onclick="unBlockUser('<%= user._id %>'); event.preventDefault();"
                    >Unblock</a
                  >
                  
                </td>
                <% } %>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <!-- table-responsive //end -->
      </div>
      <!-- card-body end// -->
    </div>
    <!-- card end// -->
    
  </section>
</main>

<%-include('../partials/admin-footer.ejs')-%>


<script>
    $(document).ready( function () {
      $('#productsTable').DataTable();
});
</script>

<!-- data table cdn -->
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
<!-- data table cdn -->
